
html {
    align-items: center;
    background-color: $main-bg-color;
    color: $heading-text-color;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
  }
  
  body {
    width: rem(327);
    height: rem(360);
    background: transparent
      radial-gradient(
        closest-side at 50% 0%,
        $very-dark-blue 0%,
        $dark-blue 100%
      )
      0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    padding: rem(24);
    margin: auto;
  }
  
  p, label {
      color: $primary-text-color
  }
  