$gray: hsla(217, 12%, 63%, 1);
$orange: hsla(25, 97%, 53%, 1);
$dark-blue: hsla(213, 19%, 18%, 1);
$very-dark-blue: hsla(216, 12%, 8%, 1);

$main-bg-color: $very-dark-blue;
$star-bg-color: $dark-blue;
$primary-btn-bg-color: $orange;
$primary-active-color: white;
$secondary-btn-bg-color: $dark-blue;
$secondary-btn-active-color: $orange;

$secondary-text-color: white;
$main-txt-color: $gray;
$active-txt-color: $orange;