//Pallet
$extremely-dark-blue: hsla(216, 12%, 8%, 1);
$very-dark-blue: hsla(215, 20%, 17%, 1);
$dark-blue: hsla(216, 24%, 12%, 1);
$blue: hsla(213, 19%, 18%, 1);
$orange: hsla(25, 97%, 53%, 1);
$gray: hsla(217, 12%, 63%, 1);
$dark-gray: hsla(216, 12%, 54%, 1);
$white: hsla(0, 0%, 100%, 1);
//background colors
$main-bg-color: $extremely-dark-blue;
//Text colors
$heading-text-color: $white;
$primary-text-color:$gray;