/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

h1,
p,
label,
button {
  font-family: "Overpass", sans-serif;
}

h1,
label,
button {
  font-weight: 700;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.8125rem;
}

p {
  font-size: 0.8125rem;
  font-weight: 400;
  line-height: 1.375rem;
}

label {
  font-size: 0.875rem;
  letter-spacing: 0.01063rem;
  line-height: 1.5rem;
}

button {
  font-size: 0.875rem;
  letter-spacing: 0.11688rem;
  line-height: 1.0625rem;
  text-transform: uppercase;
}

.app-container {
  align-items: center;
  background-color: #121417;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.component-container {
  background: transparent radial-gradient(closest-side at 50% 0%, #232a34 0%, #171d26 100%) 0% 0% no-repeat padding-box;
  border-radius: 15px;
  opacity: 1;
  width: 20.4375rem;
}

.component-text {
  color: #959eac;
  padding: 1.5rem;
}

.component-text img {
  background-color: #252d37;
  border-radius: 50%;
  height: 0.83313rem;
  padding: 0.83313rem;
  width: 0.8725rem;
  margin-bottom: 1rem;
}

.component-text h1 {
  color: white;
  margin-bottom: 0.9375rem;
}

.rating-component {
  display: flex;
  justify-content: space-evenly;
  padding: 0 1.5rem;
}

.rating-component .rating {
  list-style-type: none;
  padding: 0;
}

.rating-component .rating li {
  color: #7c8798;
  text-align: center;
  float: left;
  width: 2.625rem;
  height: 2.625rem;
  position: relative;
  margin-left: 0.5625rem;
}

.rating-component .rating label,
.rating-component .rating input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.rating-component .rating input[type="radio"] {
  opacity: 0.01;
  z-index: 100;
}

.rating-component .rating input[type="radio"]:checked + label,
.rating-component .Checked + label {
  background: yellow;
}

.rating-component .rating label {
  padding: 5px;
  background-color: #252d37;
  border-radius: 50%;
  cursor: pointer;
  z-index: 90;
}

.rating-component .rating label:hover {
  background: #ddd;
}
/*# sourceMappingURL=main.css.map */